asgiref==3.8.1
black==24.4.2
Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
coverage==7.5.3
Django==3.0
entrypoints==0.3
exceptiongroup==1.2.1
flake8==3.7.0
gunicorn==22.0.0
idna==3.7
iniconfig==2.0.0
mccabe==0.6.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==8.2.2
pytest-django==3.9.0
pytz==2024.1
sentry-sdk==2.5.1
six==1.16.0
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.1
whitenoise==6.7.0
